<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>antecedents</th>
      <th>consequents</th>
      <th>antecedent support</th>
      <th>consequent support</th>
      <th>support</th>
      <th>confidence</th>
      <th>lift</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>(ALARM CLOCK BAKELIKE RED)</td>
      <td>(ALARM CLOCK BAKELIKE GREEN)</td>
      <td>0.105263</td>
      <td>0.105263</td>
      <td>0.105263</td>
      <td>1.0</td>
      <td>9.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>(ALARM CLOCK BAKELIKE GREEN)</td>
      <td>(ALARM CLOCK BAKELIKE RED)</td>
      <td>0.105263</td>
      <td>0.105263</td>
      <td>0.105263</td>
      <td>1.0</td>
      <td>9.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>(DOLLY GIRL LUNCH BOX)</td>
      <td>(SPACEBOY LUNCH BOX)</td>
      <td>0.105263</td>
      <td>0.105263</td>
      <td>0.105263</td>
      <td>1.0</td>
      <td>9.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>(SPACEBOY LUNCH BOX)</td>
      <td>(DOLLY GIRL LUNCH BOX)</td>
      <td>0.105263</td>
      <td>0.105263</td>
      <td>0.105263</td>
      <td>1.0</td>
      <td>9.5</td>
    </tr>
  </tbody>
</table>