<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>antecedents</th>
      <th>consequents</th>
      <th>antecedent support</th>
      <th>consequent support</th>
      <th>support</th>
      <th>confidence</th>
      <th>lift</th>
      <th>leverage</th>
      <th>conviction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>(PLASTERS IN TIN WOODLAND ANIMALS)</td>
      <td>(PLASTERS IN TIN CIRCUS PARADE)</td>
      <td>0.137856</td>
      <td>0.115974</td>
      <td>0.067834</td>
      <td>0.492063</td>
      <td>4.242887</td>
      <td>0.051846</td>
      <td>1.740427</td>
    </tr>
    <tr>
      <th>1</th>
      <td>(PLASTERS IN TIN CIRCUS PARADE)</td>
      <td>(PLASTERS IN TIN WOODLAND ANIMALS)</td>
      <td>0.115974</td>
      <td>0.137856</td>
      <td>0.067834</td>
      <td>0.584906</td>
      <td>4.242887</td>
      <td>0.051846</td>
      <td>2.076984</td>
    </tr>
    <tr>
      <th>2</th>
      <td>(PLASTERS IN TIN WOODLAND ANIMALS)</td>
      <td>(PLASTERS IN TIN SPACEBOY)</td>
      <td>0.137856</td>
      <td>0.107221</td>
      <td>0.061269</td>
      <td>0.444444</td>
      <td>4.145125</td>
      <td>0.046488</td>
      <td>1.607002</td>
    </tr>
    <tr>
      <th>3</th>
      <td>(PLASTERS IN TIN SPACEBOY)</td>
      <td>(PLASTERS IN TIN WOODLAND ANIMALS)</td>
      <td>0.107221</td>
      <td>0.137856</td>
      <td>0.061269</td>
      <td>0.571429</td>
      <td>4.145125</td>
      <td>0.046488</td>
      <td>2.011670</td>
    </tr>
    <tr>
      <th>6</th>
      <td>(ROUND SNACK BOXES SET OF 4 FRUITS)</td>
      <td>(ROUND SNACK BOXES SET OF4 WOODLAND)</td>
      <td>0.157549</td>
      <td>0.245077</td>
      <td>0.131291</td>
      <td>0.833333</td>
      <td>3.400298</td>
      <td>0.092679</td>
      <td>4.529540</td>
    </tr>
    <tr>
      <th>7</th>
      <td>(ROUND SNACK BOXES SET OF4 WOODLAND)</td>
      <td>(ROUND SNACK BOXES SET OF 4 FRUITS)</td>
      <td>0.245077</td>
      <td>0.157549</td>
      <td>0.131291</td>
      <td>0.535714</td>
      <td>3.400298</td>
      <td>0.092679</td>
      <td>1.814509</td>
    </tr>
  </tbody>
</table>